*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: rgba(52, 60, 86, 1);


}
button{
    padding: 20px 50px;
    background-color: red;
    border-radius: 30px;
    color: white;
    border: none;

}
.ota{
    display: flex;
   justify-content: space-around;
   margin-top: 50px;
}
img{
    width: 400px;
    height: 350px;
}
.ota2{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
h1{
    background-color: black;
    color: white;
    margin: 15px 600px;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
}
p{
    width: 450px;
    padding: 25px;
    background-color: greenyellow;
    border: 50px solid red;
    border-radius: 50px;

}
.ota3{
    display: flex;
    justify-content: space-around;
}